body {
  font-family: "Hind Siliguri", sans-serif;
}

.header {
  background-color: #e6e6e6;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
}
.header nav {
  margin-top: 15px;
}
.header i {
  font-size: 25px;
  color: #555555;
  margin-top: 15px;
  margin-right: 12px;
  max-width: 100%;
}
.header .icons {
  margin-right: 70px;
}
.header .icons i:hover {
  opacity: 0.5;
}
.header img {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  margin: 105px auto;
  width: 700px;
}
.flex-container .spotify {
  margin-top: 50px;
  width: 700px;
}
.flex-container #out-now {
  margin-left: 70px;
}
.flex-container .links {
  margin-left: 1em;
}
.flex-container a:hover {
  opacity: 0.5;
}
.flex-container #tour-pic {
  margin-top: 90px;
  margin-bottom: 30px;
}
.flex-container .tour-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}
.flex-container .tour-box h6 {
  font-size: 10px;
  text-transform: uppercase;
  text-align: left;
  margin: 0 10px;
  color: #455268;
}
.flex-container .tour-box .show {
  color: #2F95DE;
  margin: 0 10px;
}
.flex-container .tour-box p {
  font-weight: bold;
  margin-top: 1px;
  margin-left: 10px;
}
.flex-container .tour-box a {
  text-decoration: none;
  font-size: 8pt;
}
.flex-container .tour-box .bit-button {
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  line-height: 44px;
  font-weight: bold;
  width: 140px;
}
.flex-container .tour-box .bit-offers {
  text-align: center;
  background-color: #2F95DE;
  color: white;
  font-size: 0.88em;
  display: flex;
  margin: 5px;
}
.flex-container .tour-box .bit-rsvp {
  border: 1px solid #2F95DE;
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  background-color: transparent;
  color: #2F95DE;
  font-size: 0.88em;
  text-transform: uppercase;
}
.flex-container .footer-contact {
  margin-top: 70px;
}
.flex-container .footer-contact ul {
  list-style: none;
}
.flex-container .footer-contact ul li {
  display: inline;
  margin-right: 50px;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.flex-container .footer-contact ul li a {
  text-decoration: none;
  color: #737373;
}
.flex-container #tycho-dots {
  margin-top: 40px;
}
.flex-container .icons-footer {
  display: none;
}
.flex-container .icons-footer i {
  font-size: 25px;
  color: #555555;
  margin-top: 15px;
  margin-right: 12px;
  max-width: 100%;
}

.gray {
  height: 100px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after {
  display: block;
  background: #737373;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span:before,
.nav-toggle-label span:after {
  content: "";
  position: absolute;
}

.nav-toggle-label span:before {
  bottom: 7px;
}

.nav-toggle-label span:after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(242, 242, 242, 0.8);
  width: 100%;
  line-height: 50px;
  top: 75%;
  transform: scale(1, 0);
  transition: transform 200ms ease-in-out;
  transform-origin: top;
  display: none;
}
nav ul {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}
nav ul hr {
  margin-left: 10px;
}
nav ul li {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 5pt;
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #737373;
  transition: opacity 250ms ease-in-out;
}

nav a:hover {
  opacity: 0.5;
}

.nav-toggle:checked ~ nav {
  display: block;
  transform: scale(1, 1);
}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }

  .header {
    display: flex;
    padding-left: 90px;
    justify-content: space-between;
    flex-flow: column wrap;
  }

  nav {
    all: unset;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  nav ul li {
    margin-left: 15px;
    margin-bottom: 0;
    margin-right: 15px;
  }
  nav ul li a {
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  .header {
    display: flex;
    width: 100%;
  }
  .header nav {
    display: none;
  }
  .header .icons {
    display: none;
  }

  .flex-container {
    width: auto;
  }
  .flex-container .spotify {
    width: auto;
  }
  .flex-container .tour-box {
    width: auto;
  }
  .flex-container .icons-footer {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .footer-contact {
    display: none;
  }
}

/*# sourceMappingURL=output.css.map */
